MQTT_USERNAME=nexora
MQTT_PASSWORD=change-this-strong-password
APP_DOMAIN=panel.your-domain.com
MQTT_DOMAIN=mqtt.your-domain.com
APP_BASIC_AUTH_USERNAME=admin
APP_BASIC_AUTH_PASSWORD=change-this-panel-password
MQTT_PORT=1883
MQTT_WS_PORT=9001
TZ=Asia/Jakarta
PUBLISH_INTERVAL_SECONDS=60
PROXY_PORT=80
NEXT_PUBLIC_API_BASE_URL=/api
CORS_ALLOW_ORIGINS=https://panel.your-domain.com
